body,
head {
  background: rgb(177, 213, 247) !important;
}

#game-div {
  height: 98vh;
}

.box {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border: 0.2rem solid rgba(0, 0, 0, 0.6);
  border-radius: 0.7rem;
  margin: 9px;
  width: 10vw;
  height: 10vw;
  max-width: 60px;
  max-height: 60px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.box:hover {
  background-color: rgba(251, 222, 172, 1);
}

.box.red {
  background-color: rgba(251, 102, 89, 0.5);
}

.box.green {
  background-color: rgba(53, 117, 94, 0.5);
}


#turn-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  border: none;
  border-radius: 1rem;
  z-index: 1;
  width: 80px;
  height: 80px;
}

#turn-btn.green{
  background-color: rgba(53, 117, 94, 0.5);
}

#turn-btn.red{
  background-color: rgba(251, 102, 89, 0.5);
}

#reset-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 100%;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: white;
}

.footer {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  padding: 0.7rem 2rem;
  border-radius: 1rem 0 0 0;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 900px) {
  .box {
    border: 0.1rem solid rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
    margin: 6px;
  }
}
